<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>掌上家手机端官网</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../lib/jquery-3.2.1.js"></script>
    <script src="../../js/index.js"></script>
</head>
<body class="gong-bg">
<div class="head qi-head">
    <a href="javascript:;" class="fanhui" onclick="javascript:history.back(-1);"></a>
    <a href="../../index.html" class="home"></a>
    <div class="title">共享家</div>
</div>
<div class="listnav-nav">
    <div class="listnav-nav-tab listnav-1 font-normal"><span class="name">风格</span><span><img src="../../img/shaixuan.png" alt=""></span></div>
    <div class="listnav-nav-tab listnav-2 font-normal"><span class="name">户型</span><span><img src="../../img/shaixuan.png" alt=""></span></div>
    <!--<div class="listnav-nav-tab listnav-3 font-normal"><span class="name">材料</span><span><img src="../../img/shaixuan.png" alt=""></span></div>-->
</div>
<div class="listnav-nav-content">
    <div class="listnav-nav-content-modal listnav-nav-content-modal-1">
        <div class="listnav-nav-content-modal-active first">全部</div>
        <div>北欧</div>
        <div>地中海</div>
        <div>法式</div>
        <div>简美</div>
        <div>简欧</div>
        <div>轻奢</div>
        <div>现代</div>
        <div>韩式</div>
        <div>新中式</div>
    </div>
    <div class="listnav-nav-content-modal listnav-nav-content-modal-2">
        <div class="listnav-nav-content-modal-active first">全部</div>
        <div>一居</div>
        <div>二居</div>
        <div>三居</div>
        <div>四居</div>
        <div>复式</div>
        <div>公寓</div>
        <div>别墅</div>
    </div>
   <!-- <div class="listnav-nav-content-modal listnav-nav-content-modal-3">
        <div class="listnav-nav-content-modal-active first">全部</div>
        <div>板木</div>
        <div>实木</div>
    </div>-->
</div>
<div class="tab-content">
    <ul>
        <li>
            <a href="detail.html">
                <img src="../../img/gongxiang-1.jpg" alt="">
                <div class="text">
                    <p class="name">恒大名都</p>
                    <p class="fengge"><span class="feng">地中海</span><span class="mianji">115<span class="dd">㎡</span></span></p>
                </div>
            </a>
        </li>
        <li>
            <a href="detail.html">
                <img src="../../img/gongxiang-2.jpg" alt="">
                <div class="text">
                    <p class="name">恒大名都</p>
                    <p class="fengge"><span class="feng">地中海</span><span class="mianji">115<span class="dd">㎡</span></span></p>
                </div>
            </a>
        </li>
        <li>
            <a href="detail.html">
                <img src="../../img/gongxiang-3.jpg" alt="">
                <div class="text">
                    <p class="name">恒大名都</p>
                    <p class="fengge"><span class="feng">地中海</span><span class="mianji">115<span class="dd">㎡</span></span></p>
                </div>
            </a>
        </li>
    </ul>
</div>
</body>
</html>