<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>VR全景图</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
<div class="head qi-head vr-header">
    <a href="javascript:;" class="fanhui" onclick="javascript:history.back(-1);"></a>
    <a href="../../index.html" class="home"></a>
</div>
<div class="VR-quan">
    <iframe src="http://vr.izsjia.com/tour/d5bee6e004f295a8" frameborder="0"></iframe>
</div>
</body>
</html>