<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>装修指南</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../lib/jquery-3.2.1.js"></script>
    <script src="../../js/index.js"></script>
</head>
<body>
<div class="head qi-head">
    <a href="javascript:;" class="fanhui" onclick="javascript:history.back(-1);"></a>
    <a href="../../index.html" class="home"></a>
    <div class="title">装修指南</div>
</div>
<div class="shousuo">
    <i class="icon-user"></i>
    <input type="text" placeholder="装修知识有疑问？快来搜一搜吧～" class="user">
</div>
<div class="big-box">
    <div class="tab-qie">
        <ul>
            <li class="bg">
                <p class="text">推荐</p>
                <p class="line line-color"></p>
            </li>
            <li>
                <p class="text">装修流程</p>
                <p class="line"></p>
            </li>
            <li>
                <p class="text">选材手册</p>
                <p class="line"></p>
            </li>
            <li>
                <p class="text">装修风水</p>
                <p class="line"></p>

            </li>
        </ul>
    </div>
    <div class="neirong">
        <div class="zhangshi show">
            <div class="da-shang">
                <ul>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-3.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="xiao-shang">
                <ul>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-1.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-3.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="zhangshi">
            <div class="da-shang">
                <ul>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-3.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="xiao-shang">
                <ul>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-1.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-3.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="zhangshi">
            <div class="da-shang">
                <ul>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-3.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-1.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="xiao-shang">
                <ul>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-1.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-3.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="zhangshi">
            <div class="da-shang">
                <ul>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-3.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <p class="title">若千里迢迢，让你归来有依靠</p>
                            <img src="../../img/lun-2.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="xiao-shang">
                <ul>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-1.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="xiangqing.html">
                            <div class="left">
                                <img src="../../img/lun-3.png" alt="">
                            </div>
                            <div class="right">
                                <p class="title">装修中空间的功能性叠加必不可少。</p>
                                <p class="leibie"><span class="gaizao">#户型改造</span><span class="kongjian">#增加储物空间</span></p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="guanjian">
    <p>热门搜索</p>
    <ul>
        <li>小户型</li>
        <li>卫生间</li>
        <li>厨房</li>
        <li>厨房</li>
        <li>厨房</li>
    </ul>
</div>
</body>
</html>