<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>装修指南详情</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../lib/jquery-3.2.1.js"></script>
    <script src="../../js/index.js"></script>
</head>
<body>
<div class="baocuo">
    <div class="box-cuo">
        <div class="xing-cuo">请填写你的称呼</div>
        <div class="ok-cuo">好的</div>
    </div>
</div>
<div class="shengqing">
    <div class="sheng-box">
        <div class="sheng-1"><img src="../../img/shanchu.png" alt=""></div>
        <div class="sheng-img"><img src="../../img/chenggong.png" alt=""></div>
        <div class="text-1">申请提交成功</div>
        <div class="text-2">稍后客服将会与您联系</div>
    </div>
</div>
<div class="head qi-head">
    <a href="javascript:;" class="fanhui" onclick="javascript:history.back(-1);"></a>
    <a href="../../index.html" class="home"></a>
    <div class="title">文章详情</div>
</div>
<div class="xiang-price">
    <div class="haibao">
        <img src="../../img/price.jpg" alt="">
    </div>
</div>
<div class="hr-line"></div>
<div class="qing">
    <div class="title">
        装修中空间的功能性叠加必不可少，装修中空间的功能性叠加必不可少。
    </div>
    <p class="shijian"><span class="leibei">装修流程</span><span class="nian-yue"><span class="rqi">2018-01-24</span><span class="rqi-xiao">16:45</span></span></p>
    <div class="text">
        <p>武汉掌上家网络科技有限公司整合业内知名家装品牌供应商，自建物流统一配送，采用F2C模式（直接从工厂到家）真正降低成本，利用互联网技术和思维服务用户的互联网整装业务。</p>
        <img src="../../img/lun-1.png" alt="">
        <p>武汉掌上家网络科技有限公司整合业内知名家装品牌供应商，自建物流统一配送，采用F2C模式（直接从工厂到家）真正降低成本，利用互联网技术和思维服务用户的互联网整装业务。</p>
    </div>
</div>
<!--<div class="jisuan">
    <a href="price.html">装修价格早知道</a>
</div>-->
<div class="hr-line"></div>
<div class="shou-xing">
    <form action="#">
        <div class="mian-ping">
            <i class="pingfan">㎡</i>
            <input type="text" placeholder="请输入你的房屋面积" class="mianji" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
        </div>
        <label for="s1">
            <select name="" id="huxing">
                <option value="1">请选择你的户型</option>
                <option >一室一厅</option>
                <option >二室一厅</option>
                <option >三室一厅</option>
                <option >三室二厅</option>
                <option >四室一厅</option>
                <option >四室二厅</option>
            </select>
        </label>
        <label for="s2">
            <select name="" id="leixing">
                <option value="2">请选择你的装修类型</option>
                <option>新房装修</option>
                <option>旧房翻新</option>
            </select>
        </label>
        <input type="text" class="name" placeholder="请输入你的姓名">
        <input type="text" class="tel" placeholder="请输入你的电话号码" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
        <button id="bao-price">立即获取报价</button>
    </form>
</div>
</body>
</html>