<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>专题活动</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../lib/jquery-3.2.1.js"></script>
    <script src="../../js/index.js"></script>
</head>
<body>
<div class="head qi-head">
    <a href="javascript:;" class="fanhui" onclick="javascript:history.back(-1);"></a>
    <a href="../../index.html" class="home"></a>
    <div class="title">活动专题</div>
</div>
<div class="zhuanti">
    <ul>
        <li>
            <a href="zhuan-detail.html">
                <img src="http://zsj.izsjia.com/upload/cmsactivity/picture/201801/15162539267159.jpg" alt="">
                <div class="text">
                    <p class="title"><span>最高可贷50万，签单立即放款，装修不等“贷”</span></p>
                    <p class="shijian"><span class="jiezhi">截止时间：</span><span class="shijian">2018-01-25</span></p>
                </div>
            </a>
        </li>
        <li>
            <a href="zhuan-detail.html">
                <img src="http://zsj.izsjia.com/upload/cmsactivity/picture/201801/15162527566205.jpg" alt="">
                <div class="text">
                    <p class="title"><span>你打车，我买单；免费专车看装修</span></p>
                    <p class="shijian"><span class="jiezhi">截止时间：</span><span class="shijian">2018-01-25</span></p>
                </div>
            </a>
        </li>
        <li>
            <a href="zhuan-detail.html">
                <img src="http://zsj.izsjia.com/upload/cmspromotion/picture/201801/15162479869582.jpg" alt="">
                <div class="text">
                    <p class="title"><span>定金翻倍礼，10元抵500元装修款</span></p>
                    <p class="shijian"><span class="jiezhi">截止时间：</span><span class="shijian">2018-01-25</span></p>
                </div>
            </a>
        </li>
        <li>
            <a href="zhuan-detail.html">
                <img src="http://zsj.izsjia.com/upload/cmspromotion/picture/201801/15162519505766.jpg" alt="">
                <div class="text">
                    <p class="title"><span>网上预约装修，免费全屋装修设计效果图</span></p>
                    <p class="shijian"><span class="jiezhi">截止时间：</span><span class="shijian">2018-01-25</span></p>
                </div>
            </a>
        </li>
    </ul>
</div>
</body>
</html>