<!DOCTYPE html>
..<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>整装套餐</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../lib/jquery-3.2.1.js"></script>
    <script src="../../js/index.js"></script>
</head>
<body>
<div class="head qi-head">
    <a href="javascript:;" class="fanhui" onclick="javascript:history.back(-1);"></a>
    <a href="../../index.html" class="home"></a>
    <div class="title">整装套餐</div>
</div>
<div class="package-title">
    <div class="title">全屋整装包</div>
    <div class="zheng-package">
        <div class="da-img">
            <a href="de-package.html">
                <img src="../../img/lun-1.png" alt="">
            </a>
        </div>
        <div class="xiao-img">
            <ul>
                <li>
                    <a href="#">
                        <img src="../../img/lun-2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/lun-3.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="title">施工包</div>
    <div class="zheng-package">
        <div class="da-img">
            <a href="de-package.html">
                <img src="../../img/lun-1.png" alt="">
            </a>
        </div>
    </div>
    <div class="title">家具包</div>
    <div class="zheng-package">
        <div class="xiao-img">
            <ul>
                <li>
                    <a href="#">
                        <img src="../../img/lun-2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/lun-3.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="title">主材包</div>
    <div class="zheng-package">
        <div class="xiao-img">
            <ul>
                <li>
                    <a href="#">
                        <img src="../../img/lun-2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/lun-3.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="title">配饰包</div>
    <div class="zheng-package">
        <div class="xiao-img">
            <ul>
                <li>
                    <a href="#">
                        <img src="../../img/lun-2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/lun-3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/lun-2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/lun-3.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/lun-3.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="title">个性升级包</div>
    <div class="zheng-package">
        <div class="xiao-img">
            <ul>
                <li>
                    <a href="#">
                        <img src="../../img/lun-2.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../img/lun-3.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>