<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>公司简介</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/index.css">
    <script src="../../lib/jquery-3.2.1.js"></script>
    <script src="../../js/index.js"></script>
</head>
<body>
<div class="head qi-head">
    <a href="javascript:;" class="fanhui" onclick="javascript:history.back(-1);"></a>
    <a href="../../index.html" class="home"></a>
    <div class="title">公司简介</div>
</div>
<div class="haibao">
    <img src="http://zsj.izsjia.com/upload/cmsactivity/detail_picture/201801/15162522395078.jpg" alt="">
</div>
</body>
</html>